body{
    font-size: 50%;
}

.main{
    overflow: auto;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display:block;
    background: rgb(16,14,35);
    color: #FFF;
    background: linear-gradient(135deg, rgba(16,14,35,1) 1%,rgba(41,137,216,1) 37%,rgba(32,124,202,1) 48%,rgba(47,83,119,1) 100%);
}

.main-container{
    width: 100%;
    display: block;
    margin: auto;
    position: relative;
}

/*General*/

    body, h1, h2, h3, button, a{
        font-family: 'Montserrat', sans-serif;    
    }
    h2{
        font-size: 1.8em;
    }
    h3{
         font-size: 2.5em;
    }
    strong {
        font-weight: bold;
    }

        /*Content*/
    a{
        text-decoration: none;
        display: block;
    }
    p{
        font-size: 1.6em;
    }

    /*footer*/
    footer {
        opacity: 0.5;
    }
    footer img {
        width: 50px;
        display: block;
        margin: auto;
    }
    small{
        font-size: 1em;
        text-align: center;
    }

    /*Text align*/
    .center{
        text-align: center;
    }

    /*Color*/
    .white{
        color: #FFF;
    }
    .leftAlign{
        text-align: left;
    }

    /*Giving margin or padding*/
    .spaceDown{
        margin-bottom: 20px;
    }
    .spacing{
        margin: 20px 0;
    }


/*Class personnalized per page*/
    /*Home*/
    .containCenter{
        height: 100vh;
        width: 100%;
        display: block;
    }
    .centerPage {
        position: absolute;
        max-width: 250px;
        margin: auto;
        width: 70%;
        left: 50%;
        text-align: center;
        top: 40%; /*hasheader class moves further down*/
        transform: translateX(-50%) translateY(-50%);
    }
        /*hover*/
        .centerPage button {
            transition: all 0.5s ease-in;
        }
        .centerPage button:hover, .centerPage button:focus {
            background-color: #1c3968;
            cursor: pointer;

        }
        /*Hiding buttons*/
        .soon{
            display: inline-block;
            position: relative;
        }
        .hide{
            position: absolute;
            content: '';
            display: block;
            background: gray;
            background: rgba(140,142,145,0.6);
            top:0;
            width: 100%;
            height: 100%;
        }

    /*Map*/
   #map {
      height: 200px;
    }

        /*List items*/
        .hoverItem{
            transition: all 0.5s ease-in;
        }
        .hoverItem:hover, .hoverItem:focus{
            background: #1c3968;
        }
        .hoverItem:hover a.item, .hoverItem:focus a.item{
            color: #FFF;
        }

    /*Movie list*/
    .inline{
        display: inline-block;
        padding: 5px;
        margin: 5px;
        background-color: #1c3968;
        border-radius: 10px;
    }
    .item .inline p {
        color: #FFF;
    }
    .address {
        padding-left: 20px;
        display: block;
    }
    address{
        font-size: 1.4em;
    }



/*Overwritting Ionic*/
    /*Header*/
    .bar {
        background: linear-gradient(to bottom, rgba(0,0,0,0.99) 0%,rgba(0,0,0,0.95) 1%,rgba(125,185,232,0) 100%); 
        border: none;
        height: 70px;
    }
    .bar .title{
        height: 70px;
        padding: 5px;    
    }
    .title img{ 
        height: 100%;
    }

    .bar-stable .button {
        border-color: transparent;
        display: block;
        background-color: transparent;
        color: #FFF;
    }
    .bar-header .button.icon:before{
        font-size: 40px;
        color: #FFF;
        transition: all 0.5 ease-in;
    }
    .has-header{
        top: 70px;
    }
    

    /*List items*/
    .item {
        white-space: normal
    }
    a.item {
        color: black;
    } 
    a.item:hover {
        color: #FFF;
    }

/*Media queries*/
@media screen and (min-width: 700px){
    body{
        font-size: 55%;
    }
    .main-container{
        max-width: 
    }
    .spaceDown{
    margin-bottom: 30px;
    }
    .spacing{
        margin: 30px 0;
    }
     /*Map*/
   #map {
      height: 300px;
    }
}

@media screen and (min-width: 1000px){
    body{
        font-size: 55%;
    }
    .main-container{
        
    }
}
