<ion-content>

   <div class="spacing address">
       <h3 class="white"><strong>{{place.name}}</strong></h3>
       <address>{{place.formatted_address}}
       </address>
       <p></p>
    </div>

    <div class="item item-divider">
        <h2>Movie list</h2>
    </div>
    <ion-list class="disable-user-behavior">
         <ion-item class="item" ng-repeat="cinema in screeningsCine">
              <h2>{{cinema.movieName}}</h2>
              <ul>
                  <li ng-repeat="screeningTime in cinema.screenings" class="inline"><p>{{screeningTime.screeningTime}}  <strong>{{screeningTime.type}}</strong></p></li>
             </ul>
        </ion-item>
    </ion-list>
</ion-content>